@import "tailwindcss";

@theme {
  --color-finomik-blue: #0B3064;
  --color-finomik-blue-dark: #114076;
  --color-finomik-gold: #F5C518;
  --color-finomik-mid1: #3C4C67;
  --color-finomik-mid2: #3E5374;
  --color-finomik-mid3: #5574A7;
  --color-finomik-light1: #8F9EB7;
  --color-finomik-light2: #C8D0DD;
  --font-montserrat: var(--font-montserrat);
}
